.company-list {
  background-color: white;
  padding: 30px;
  margin-right: 50px;
  margin-top: 5px;
  border-radius: 10px;
  
}
.lists {
  
  padding: 30px;
  margin-right: 50px;
 
  border-radius: 10px;
  font-size: 10px;
  
  .row {
    div {
      margin: 5px;
      padding: 5px;
    }
  }
}
