
    .left{
        padding-left: 0px;
    }
    .right{
        padding-left: 10px;
       
    }
    .content{
        display: flex;
        flex-direction: row;
    }
.list-group-item clearfix{
    align-content: space-between;
    height: 100px;

}