<div class="company">
    <div class="company-item" routerLink="overview" routerLinkActive="active">Overview</div>
    <div class="company-item" routerLink="/about">About</div>
    <div class="company-item" routerLink="/products">Products</div>
    <div class="company-item" routerLink="posts">Posts</div>
    <div class="company-item" routerLink="jobs">Jobs</div>
    <div class="company-item" routerLink="people">People</div>
    <div class="company-item" routerLink="videos">videos</div>
</div>
    <router-outlet></router-outlet>

