
    .navigation {
        width: 100%;
        background-color: white;
        padding-left: 100px;

        height: 60px;
        
        .nav-item {
            padding-left: 100px;
            margin-left: 80px;
           
        }
        .nav-item:hover{
            color: black;
            cursor: pointer;
            color: gray;
        }
        
    }
