<div class="navigation">
  <div class="row">
    <div class="nav-item" routerLink="/company" routerLinkActive="active">
      <mdb-icon fas icon="home"></mdb-icon>Home
    </div>

    <div class="nav-item" routerLink="/mynetwrok" routerLinkActive="active">
      <mdb-icon fas icon="users"></mdb-icon>My Network
    </div>

    <div class="nav-item" routerLink="/joboffers" routerLinkActive="active">
      <mdb-icon fas icon="briefcase"></mdb-icon>Job Offers
    </div>

    <div class="nav-item" routerLink="/myprofile" routerLinkActive="active">
      <mdb-icon far icon="user"></mdb-icon>My Profile
    </div>
  </div>
</div>
