
.navigation {
  display: flex;
  flex-direction: row;
  background-color: rgb(199, 210, 219);
  width: 100%;
  height: 70px;
  text-align: center;
  .nav-item {
    padding: 20px;
  }
}
body {
  background-color: rgb(199, 210, 219);
  font-size: 10px;
}
